body {
    margin: 0;
    margin-top: 50px;
    background-color: #EFEFEF;
}

.menu {
    color: dimgray;
    margin: 20px;
    text-decoration: none;
    font-family: 'Athiti', sans-serif;
}

.navigation-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #ACECFF;
}

.header {
    display: flex;
    flex-flow: row-ward;
    align-items: center;
    background-color: white;
    justify-content: space-around;
}

.text {
    font-family: 'Athiti', sans-serif;
    padding: 25px;
}

.image {
    width: 500px;
}

.ojectives {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.item {
    font-size: 20px;
    padding: 5 px;
    font-family: 'Athiti', sans-serif;
}

.text > .title {
    font-size: 40px;
    font-family: 'Athiti', sans-serif;
}

.title {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 30px;
}

.blue-section {
    background-color: #D4F5FF;
    padding: 50px;
}

.white-section {
    background-color: white;
    padding: 50px;
}

.labs-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-flow: row-ward;
    padding: 0;
    font-family: 'Athiti', sans-serif;
}

.lab {
    display: flex;
    flex-grow: 0;
    width: 190px;
    flex-flow: column;
    text-align: center;
}

.lab > .image {
    width: auto;
    height: 150px;
    margin-bottom: 25px;
}

.lab .link {
    text-decoration: none;
    font-size: 25px;
    color: dimgray;
}

.time-table {
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    padding: 25px;
    width: 100%;
}

.time-table td {
    padding: 25px;
    border: 1px solid #ddd;
}

.link {
    font-family: 'Athiti', sans-serif;
    font-size: 25px;
    color: dimgray;
    text-decoration: none;
}